*~
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
default.cfg
cmake_install.cmake
core
crag
crag.cfg
dependencies/bin/
dependencies/include/
dependencies/lib/
dependencies/ode
dependencies/SDL*
dependencies/share/
xcode4/bin
xcode4/crag/crag.xcodeproj/project.xcworkspace/
xcode4/crag/crag.xcodeproj/xcuserdata
xcode4/include
xcode4/lib
xcode4/share

