*~
.DS_Store
/backtrace
CMakeCache.txt
CMakeFiles/
Makefile
cerr.txt
cout.txt
cmake_install.cmake
/core
crag
crag.cfg
default.cfg
dependencies/SDL*
dependencies/bin/
dependencies/bullet
dependencies/glew
dependencies/include/
dependencies/lib/
dependencies/ode
dependencies/share/
pch.h.gch/
vs/vs2012/Debug
vs/vs2012/Release
vs/vs2012/ipch
vs/vs2012/*.opensdf
vs/vs2012/*.sdf
vs/vs2012/*.suo
vs/vs2012/*.user
xcode4/bin
xcode4/crag/crag.xcodeproj/project.xcworkspace/
xcode4/crag/crag.xcodeproj/xcuserdata
xcode4/include
xcode4/lib
xcode4/share

